[submodule "sanmake"]
	path = sanmake
	url = https://gitlab.com/niansa/sanmake.git
[submodule "commoncpp"]
	path = commoncpp
	url = https://gitlab.com/niansa/commoncpp.git
[submodule "Luxon"]
	path = Luxon
	url = https://gitlab.com/luxon_project/Luxon.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
